<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <script type="text/javascript">
        CKEDITOR.replace("article_content");
    </script>
  <div class="field">
    <%= f.label :title, "标题：" %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtitle,"副标题：" %>
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label :summary, "摘要：" %>
    <%= f.text_area :summary, :cols => 70, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label :content, "内容：" %>
    <%= f.text_area :content, :cols => 70, :rows => 20, :class => "ckeditor" %>
  </div>
  <div class="actions">
    <%= f.submit "提交" %>
  </div>

<% end %>
