<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parent_id, "父类别：" %>
    <%= f.select :parent_id, Category.parent.collect{|c| [c.name, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :name, "分类名称：" %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "提交" %>
  </div>
<% end %>
